<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/reset.css">
		<link rel="stylesheet" href="/style.css">
	</head>
	
	<body>
		<div class="header">
			<a href="/microposts"><img src="http://i.imgur.com/wc2PXq7.png"></a>
		<div class="nav">
			<ul>
				<a href="/microposts"><li>posts</li></a>
				<a href="/images"><li>images</li></a>
				<a href="/authors"><li>authors</li></a>
			</ul>	
		</div>
		</div>

		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>				