<% @tags.each do |tag| %>
	<div class="tags"><li><%= tag.name %></li>
<% end %></div>

<h2>add a new tag</h2>	

<form action="/tags" method="POST">
	<label for="name">new tag<br/>
		<input type="text" name="tag[name]"><br/>
	</label>

	<button>add tag</button>

</form>	

<form action=<% @tags.each do |tag| %>
				"/tags/<%= tag.id %>"
			  <% end %> method="POST">
	
	<input type="hidden" name="_method" value="DELETE">
		<select name="tag[id]">
			<% @tags.each do |tag| %>
				<option value="<%= tag.id %>"><%= tag.name %></option>
			<% end %>
		</select>
	
	<button>remove tag</button>

</form>	


