<h2><%= @tag.name %></h2>
<% @tag.microposts.each do |micropost| %>
	<h3><a href="/microposts/<%= micropost.id %>"><%= micropost.title %></a></h3>
<% end %>	

<br/>
<br/>

<a href="/tags">see all tags</a>	




