<div class="authors"><% @authors.each do |author| %>
	<figure>
		<a href="/authors/<%= author.id %>">
		<img src="<%= author.avatar_img_url %>">
		<figcaption><h3><%= author.username %></h3></figcaption></a> 
	</figure>	
<% end %>

</div>

<hr>

<a href="/authors/new">add a new author</a>

<br/><br/>
