<form action="/authors" method="POST">
	<label for="username">username<br/>
		<input type="text" name="author[username]"><br/>
	</label>
	
	<label for="avatar_img_url">avatar image (url)<br/>
		<input type="text" name="author[avatar_img_url]"><br/>
	</label>
	
	<input type="submit" name="submit">
</form>				

